<!DOCTYPE html>
<html>
<head th:replace="fragments/bootstrap::head(title='Dashboard')">
</head>
<link rel="stylesheet" href="/css/stylos.css">
<body>
	<div class="container-fluid">
        <header th:replace="fragments/head::header"></header>
        <main class="ficha__main cars">
            <section class="col-12">
                <div class="row justify-content-center ficha__container">
                    <div class="col-8 ficha__joincontainer">
                        <div class="col-6 ficha__inner">
                            <div class="text-center ficha__content">
                                <h2>Información Cliente</h2>
                                <p th:text="${customer.nombre}">Nombre cliente</p>
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink" version="1.1" space="preserve" class="u-svg-content" viewBox="0 0 512 512" x="0px" y="0px" id="svg-8f41" style="enable-background:new 0 0 512 512;">
                                        <g>
                                            <g>
                                                <path d="M485.743,85.333H26.257C11.815,85.333,0,97.148,0,111.589V400.41c0,14.44,11.815,26.257,26.257,26.257h459.487    c14.44,0,26.257-11.815,26.257-26.257V111.589C512,97.148,500.185,85.333,485.743,85.333z M475.89,105.024L271.104,258.626    c-3.682,2.802-9.334,4.555-15.105,4.529c-5.77,0.026-11.421-1.727-15.104-4.529L36.109,105.024H475.89z M366.5,268.761    l111.59,137.847c0.112,0.138,0.249,0.243,0.368,0.368H33.542c0.118-0.131,0.256-0.23,0.368-0.368L145.5,268.761    c3.419-4.227,2.771-10.424-1.464-13.851c-4.227-3.419-10.424-2.771-13.844,1.457l-110.5,136.501V117.332l209.394,157.046    c7.871,5.862,17.447,8.442,26.912,8.468c9.452-0.02,19.036-2.6,26.912-8.468l209.394-157.046v275.534L381.807,256.367    c-3.42-4.227-9.623-4.877-13.844-1.457C363.729,258.329,363.079,264.534,366.5,268.761z"></path>
                                            </g>
                                        </g>
                                    </svg>
                                </span>
                                <p th:text="${customer.email}"></p>
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink" version="1.1" space="preserve" class="u-svg-content" viewBox="0 0 512 512" x="0px" y="0px" id="svg-b2a0" style="enable-background:new 0 0 512 512;"><g><g><path d="M298.667,25.6h-85.333c-4.71,0-8.533,3.823-8.533,8.533c0,4.71,3.823,8.533,8.533,8.533h85.333    c4.71,0,8.533-3.823,8.533-8.533C307.2,29.423,303.377,25.6,298.667,25.6z"></path>
                                    </g>
                                    </g><g><g><path d="M358.4,25.6h-8.533c-4.71,0-8.533,3.823-8.533,8.533c0,4.71,3.823,8.533,8.533,8.533h8.533    c4.71,0,8.533-3.823,8.533-8.533C366.933,29.423,363.11,25.6,358.4,25.6z"></path>
                                    </g>
                                    </g><g><g><path d="M266.598,435.2H245.41c-12.979,0-23.543,10.564-23.543,23.543v4.122c0,12.979,10.564,23.535,23.535,23.535h21.188    c12.979,0,23.543-10.556,23.543-23.535v-4.122C290.133,445.764,279.569,435.2,266.598,435.2z M273.067,462.865    c0,3.567-2.901,6.468-6.468,6.468H245.41c-3.575,0-6.477-2.901-6.477-6.468v-4.122c0-3.575,2.901-6.477,6.477-6.477h21.18    c3.576,0,6.477,2.901,6.477,6.477V462.865z"></path>
                                    </g>
                                    </g><g><g><path d="M370.227,0H141.781c-17.007,0-30.848,13.841-30.848,30.848v450.304c0,17.007,13.841,30.848,30.848,30.848h228.437    c17.007,0,30.848-13.841,30.848-30.839V30.848C401.067,13.841,387.226,0,370.227,0z M384,481.152    c0,7.595-6.178,13.781-13.773,13.781H141.781c-7.603,0-13.781-6.187-13.781-13.773V30.848c0-7.595,6.178-13.781,13.781-13.781    h228.437c7.603,0,13.781,6.187,13.781,13.781V481.152z"></path>
                                    </g>
                                    </g><g><g><path d="M392.533,51.2H119.467c-4.71,0-8.533,3.823-8.533,8.533v358.4c0,4.71,3.823,8.533,8.533,8.533h273.067    c4.71,0,8.533-3.823,8.533-8.533v-358.4C401.067,55.023,397.244,51.2,392.533,51.2z M384,409.6H128V68.267h256V409.6z"></path>
                                    </g>
                                    </g></svg>
                                </span>
                                <p th:text="${customer.phone} + ' ' + ${customer.addreessLine}"></p>
                            </div>
                        </div>
                        <div class="col-6 ficha__perfil">
                        </div>
                    </div>
                </div>
            </section>
            <div class="mt-5">
                <h2 class="subTitle subTitle__h1">Pedidos del cliente</h2>
            </div>
            <div class="main__content-cars mt-5">
                <div th:if="${customer.getOrderDetails().size() > 0}" th:each="order : ${customer.getOrderDetails()}" class="card">
                    <div class="card-img-container">
                        <a th:href="@{'/car/details?matricula='+${order.vehicle.getMatricula()}}">
                            <img class="card-img-top" th:unless="${order.vehicle.imagenes.size() == 0}" th:src="@{'/img/' + ${order.vehicle.getArrayImagenes(0)}}">
                            <img class="card-img-top" th:if="${order.vehicle.imagenes.size() == 0}" src="/img/generic_v3.png">
                        </a>
                        <div class="btn__compra">
                            <a th:href="@{'/admin/aprovePayment?matricula='+${order.vehicle.matricula} + '&customer='+${customer.id}}">Confirmar compra</a>
                        </div>
                        <div th:if="${order.vehicle.status == 'SOLD'}" th:text="Sold"></div>
                    </div>
                    <div class="card-body">
                        <div class="titleWrapper">
                            <h2 class="title__marca" th:text="${order.vehicle.marca}"></h2>
                            <div class="title__price" th:text="${order.vehicle.getFinancedPrice()}"></div>
                        </div>
                        <div class="subtitleWrapper">
                            <h3 class="subtitle__version" th:text="${order.vehicle.version}"></h3> 
                            <div class="subtitle__monthlyPrice">Cuota</div>
                        </div>
                        <div class="features">
                            <div class="feature-list__wrapper">
                                <ul class="feature-list">
                                    <li class="feature-list__item" th:text="${order.vehicle.year}"></li>
                                    <li class="feature-list__item" th:text="${order.vehicle.combustible}"></li>
                                    <li class="feature-list__item" th:text="${order.vehicle.kilometros}"></li>
                                    <li class="feature-list__item">Caja Cambio</li>
                                </ul>
                            </div>
                            <div class="totalPrice">Al contado
                                <span th:text="${order.vehicle.price}"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:if="${customer.getOrderDetails().size() == 0}">
                    <h1 class="subTitle subTitle__h1">No tiene ningún pedido</h1>
                </div>
            </div>
        </main>
    </div>
</body>
<link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
</html>