.menu__lateral {
    background-color: color(white);
    width: 100%;
    max-width: 150px;
    height: 100vh;
    padding: 2px;
    margin-top: -90px;
    border-radius: 2px;
    transition: max-width.3s ease;
    position: relative;

    &-item{
        margin: 5px 0px;
        border: 1px solid color(greey-3);
        background-color: #ffffff;
        padding: 10px 15px;
        border-radius: 4px;
        &:hover {
            background-color: color(primary);
            color: color(secondary);
            cursor: pointer;

            span {
                color: color(secondary);
            }
        }

        span {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            color: #a8a8a8;
            font-weight: 570;
            span {
                width: 100%;
                padding: 0 45px;
            }
            i {
                font-size: 1.4rem;
            }
        }
    }

    .toggle {
        position:absolute;
        top: 0;
        right: 0;

        i {
            font-size: rem(34);
        }
    }

    .close {
        display: none;
    }

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}

.menu-dashboard {
    max-width: 150px;
    height: 100vh;
    background: color(white);
    padding: 20px;
    transition: max-width .3s ease;
    border-radius: 2px;

    .top-menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;

        .logo {
            display: flex;
            align-items: center;
            margin-left: 10px;
            img {
                width: 40px;
                transition: width .3s ease;
            }

            span {
                font-size: 20px;
                margin-left: 20px;
                display: none;
            }
        }

        .toggle {
            width: 30px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;

            i {
                font-size: 35px;
            }
        }
        
    }

    .input-seatch {
        width: 100%;
        margin: 50px 0;
        background-color: color(blue-1);
        padding: 15px;
        border-radius: 8px;
        display: flex;
        align-items: center;

        i {
            font-size: 30px;
            margin-right: 20px;
        }

        .input {
            border: none;
            outline: none;
            background-color: transparent;
            width: 100%;
            height: 30px;
            color: var(--blanco);
            font-size: 22px;
            display: none;
        }
    }

    .menu {
        .enlace {
            width: 100%;
            padding: 20px 0 20px 17px;
            border-radius: 4px;
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            cursor: pointer;
            font-size: 20px;
            transition: all .3s ease;

            &:hover {
                background: color(blue-1);
                color: white;
            }

            i {
                margin-right: 20px;
                font-size: 25px;
            }

            span {
                opacity: 0;
                transition: opacity .3s ease;
            }
        }
        
    }

    &.open {
        max-width: 300px;

        .top-menu {
            
            .logo {
                img {
                    display: none;
                }
                span {
                    display: block;

                    .perfil__container {
                        margin: 0;
                    }
                }
            }
        }

        .input-seatch {

            .input {
                display: block;
            }
        }

        .menu {
            .enlace {
                padding: 20px;

                span {
                    opacity: 1;
                }
            }
        }
    }
}

.evr-main.dashboard {

    .menu-dashboard {
        margin-top: -90px;
    }
}
