.menu {
    
    &__container-filtre {
        width: 98%;
        margin: auto;
        background-color: color(greey-2);
        padding: 10px 10px 20px;
        margin-top: 25px;
        height: 150px;
    }

    &__filtre {
        display: flex;
        margin-bottom: 40px;

        &__sub {
            display: none;
        }
    }
    &__item {

        border: 1px solid color(greey-3);
        background-color: color(secondary);
        color: color(greey-4);
        height: 46px;
        padding: 10px 10px 10px 16px !important;
        cursor: pointer;
        text-align: left;
        border: 1px solid #d8d8d8;
        border-radius: 5px;
        background-color: #fff;
        font-size: 16px;
        display: flex;
        align-items: center;
    }
}