.menu__lateral {
    background-color: color(therciary);
    width: 100%;
    max-width: 250px;
    height: 100vh;
    padding: 2px;
    margin-top: -90px;
    border-radius: 2px;

    &-item{
        margin: 5px 0px;
        border: 1px solid color(greey-3);
        background-color: color(secondary);
        padding: 10px;

        &:hover {
            background-color: color(primary);
            color: color(secondary);
            cursor: pointer;

            span {
                color: color(secondary);
            }
        }

        span {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            color: #a8a8a8;
            font-weight: 570;

            i {
                font-size: 1.4rem;
            }
        }
    }
}