$color-map: (
    primary: $wf__primary-color,
    primary_hover: $wf__primary-color-hover,
    secondary: $wf__secondary-color,
    therciary: $wf__background-filter,
    white: #ffffff,
    black: #000000,
    greey-1: $wf__therciary-color,
    greey-2: $wf__background-filter,
    greey-3: $wf__border-color,
    greey-4: #5A5A5A,
    blue-1: #003e70
);