<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/css/stylos.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
	<div class="container">
        <header class="evr-header">
            <nav class="evr-header__menu menu">
                <section class="menu__container-top">
                    <div class="menu__logo">
                        <img src="img/GM.jpg">
                        <h4>General Motors</h4>
                    </div>
                    <h3>Encuentra tu coche al mejor precio</h3>
                    <ul class="menu__options">
                        <li><i class="fas fa-search" id="activar"></i></li>
                        <li><i class="fas fa-th-large"></i></li>
                        <li><i class="far fa-bell"></i></li>
                        <li><i class="far fa-user"></i></li>
                        <li><i class="fas fa-ellipsis-v"></i></li>
                    </ul>
                </section>
                <section class="menu__container-filtre">
                    <ul class="menu__filtre">
                        <li class="menu__item">Marca & Modelo
                            <ul class="menu__filtre__sub">
                                <li class="menu__filtre__sub__item"></li>
                                <li class="menu__filtre__sub__item"></li>
                                <li class="menu__filtre__sub__item"></li>
                                <li class="menu__filtre__sub__item"></li>
                                <li class="menu__filtre__sub__item"></li>
                            </ul>
                        </li>
                        <li class="menu__item">Precio
                            <ul class="menu__links__sub">
                                <li class="menu__filtre__sub__item"></li>
                                <li class="menu__filtre__sub__item"></li>
                                <li class="menu__filtre__sub__item"></li>
                                <li class="menu__filtre__sub__item"></li>
                                <li class="menu__filtre__sub__item"></li>
                            </ul>
                        </li>
                        <li class="menu__item">Fecha Matriculación
                            <ul class="menu__links__sub">
                                <li class="menu__filtre__sub__item"></li>
                                <li class="menu__filtre__sub__item"></li>
                                <li class="menu__filtre__sub__item"></li>
                                <li class="menu__filtre__sub__item"></li>
                                <li class="menu__filtre__sub__item"></li>
                            </ul>
                        </li>
                        <li class="menu__item">Combustible
                            <ul class="menu__links__sub">
                                <li class="menu__filtre__sub__item"></li>
                                <li class="menu__filtre__sub__item"></li>
                                <li class="menu__filtre__sub__item"></li>
                                <li class="menu__filtre__sub__item"></li>
                                <li class="menu__filtre__sub__item"></li>
                            </ul>
                        </li>
                        <li class="menu__item">Más filtros
                            <ul class="menu__links__sub">
                                <li class="menu__filtre__sub__item"></li>
                                <li class="menu__filtre__sub__item"></li>
                                <li class="menu__filtre__sub__item"></li>
                                <li class="menu__filtre__sub__item"></li>
                                <li class="menu__filtre__sub__item"></li>
                            </ul>
                        </li>
                    </ul>
                </section>
            </nav>
        </header>
    </div>
</body>
</html>