<!DOCTYPE html>
<html>
<head th:replace="fragments/bootstrap::head(title='Dashboard')">
</head>
<body>
	<div class="container-fluid">
        <header class="evr-header">
            <nav class="evr-header__menu menu">
                <section class="menu__container-top">
                    <div class="menu__logo">
                        <img src="img/GM.jpg">
                        <h4>General Motors</h4>
                    </div>
                    <div th:insert="fragments/parts::menu"></div>
                    <!-- <h3>Encuentra tu coche al mejor precio</h3> -->
                    <ul class="menu__options">
                        <li><i class="fas fa-search" id="activar"></i></li>
                        <li><i class="fas fa-th-large"></i></li>
                        <li><i class="far fa-bell"></i></li>
                        <li><i class="far fa-user"></i></li>
                        <li><i class="fas fa-ellipsis-v"></i></li>
                    </ul>
                </section>
                <section class="menu__container-filtre">
                    <ul class="menu__filtre">
                        <li class="menu__item">Marca & Modelo
                            <ul class="menu__filtre__sub">
                                <li class="menu__filtre__sub__item"></li>
                                <li class="menu__filtre__sub__item"></li>
                                <li class="menu__filtre__sub__item"></li>
                                <li class="menu__filtre__sub__item"></li>
                                <li class="menu__filtre__sub__item"></li>
                            </ul>
                        </li>
                        <li class="menu__item">Precio
                            <ul class="menu__filtre__sub">
                                <li class="menu__filtre__sub__item"></li>
                                <li class="menu__filtre__sub__item"></li>
                                <li class="menu__filtre__sub__item"></li>
                                <li class="menu__filtre__sub__item"></li>
                                <li class="menu__filtre__sub__item"></li>
                            </ul>
                        </li>
                        <li class="menu__item">Fecha Matriculación
                            <ul class="menu__filtre__sub">
                                <li class="menu__filtre__sub__item"></li>
                                <li class="menu__filtre__sub__item"></li>
                                <li class="menu__filtre__sub__item"></li>
                                <li class="menu__filtre__sub__item"></li>
                                <li class="menu__filtre__sub__item"></li>
                            </ul>
                        </li>
                        <li class="menu__item">Combustible
                            <ul class="menu__filtre__sub">
                                <li class="menu__filtre__sub__item"></li>
                                <li class="menu__filtre__sub__item"></li>
                                <li class="menu__filtre__sub__item"></li>
                                <li class="menu__filtre__sub__item"></li>
                                <li class="menu__filtre__sub__item"></li>
                            </ul>
                        </li>
                        <li class="menu__item">Más filtros
                            <ul class="menu__filtre__sub">
                                <li class="menu__filtre__sub__item"></li>
                                <li class="menu__filtre__sub__item"></li>
                                <li class="menu__filtre__sub__item"></li>
                                <li class="menu__filtre__sub__item"></li>
                                <li class="menu__filtre__sub__item"></li>
                            </ul>
                        </li>
                    </ul>
                </section>
            </nav>
        </header>
        <main class="evr-main cars">
            <div class="main__content-cars">
                <div th:each="v : ${vehiculos}" class="card">
                	<img class="card-img-top" th:unless="${v.imagenes.size() == 0}" th:src="@{'img/' + ${v.getArrayImagenes(0)}}">
                    <img class="card-img-top" th:if="${v.imagenes.size() == 0}" src="img/coche_generic.png">
                    <div class="card-body">
                        <div class="titleWrapper">
                            <h2 class="title__marca" th:text="${v.marca}"></h2>
                            <div class="title__price" th:text="${v.price}"></div>
                        </div>
                        <div class="subtitleWrapper">
                            <h3 class="subtitle__version" th:text="${v.version}"></h3> 
                            <div class="subtitle__monthlyPrice">Cuota</div>
                        </div>
                        <div class="features">
                            <div class="feature-list__wrapper">
                                <ul class="feature-list">
                                    <li class="feature-list__item" th:text="${v.year}"></li>
                                    <li class="feature-list__item" th:text="${v.combustible}"></li>
                                    <li class="feature-list__item" th:text="${v.kilometros}"></li>
                                    <li class="feature-list__item">Caja Cambio</li>
                                </ul>
                            </div>
                            <div class="totalPrice">Al contado</div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
<link rel="stylesheet" href="/css/stylos.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</html>