.heart {
    position: absolute;
    top: 270px;
    left: 12px;
    width: 50px;
    height: 50px;
    background: #fff;
    padding: 5px;
    border: 1px solid #eedada;
    border-radius: 50%;
    transition: all .1s ease-in-out .1s;
    margin-left: 0;
    color: #f37121;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5;

    &:hover {
        transform: scale(1.2);
        .icon___2c4Kt {
            fill: #f37121;
        }
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    .heartIcon___2AF7i {
        width: 35px;
        height: 35px;
        margin-left: 1px;
        margin-top: 4px;
    }

    .icon___2c4Kt {
        stroke: currentColor;
        fill: color(white);
        width: 35px;
        height: 34px;
        transition: all .1s ease-in-out .1s;

        &-selected {
            fill: #f37121;
        }
    }
}

.show {
    display: initial;
}

.hidden {
    display: none;
}