<meta charset="UTF-8">
<div class="profile__nav__container"  th:fragment="nav">
    <ul class="profile__nav">
        <li class="profile__nav__item">
            <a th:href="@{/profile/orders}">Mis pedidos<i class='bx bx-chevron-right'></i></a>
        </li>
        <li class="profile__nav__item">
            <a th:href="@{/profile/favorite}">Favorito<i class='bx bx-chevron-right'></i></a>
        </li>
        <li class="profile__nav__item">
            <a th:href="@{/profile/edit}">Datos personales<i class='bx bx-chevron-right'></i></a>
        <li class="profile__nav__item">
            <a th:href="@{/logout}">Cerrar session<i class='bx bx-chevron-right'></i></a>
        </li>
    </ul>
</div>